
<h1><%= board.escape('title') %></h1>
<ul>

<% lists.each(function(list) { %>
  <li><a href="<%= '#boards/' + list.escape('board_id') + '/lists/' + list.id  %>"><%= list.escape('title') %></a></li>
  <% }) %>

</ul>

