<ol class="lists container"></ol>
<div class="hidden" id="list-form">
  <form id="new-list-form">
    <input id="title" type="text" name="list[title]" id="list-title">

    <button id="create-list" class="btn btn-primary">Add List</button>
      <button id="never-mind" class="btn btn-warning">x</button>
  </form>
</div>
<div id="new-list-button">
  <button id="new-list" class="btn btn btn-primary">Add List</button>
</div>
