
<h1><%= board.escape('title') %></h1>
<% lists.each(function(list){ %>
  <ul>
  <%= list.escape('title') %>
  <% list.cards().each(function(card){ %>
    <li><%= card.escape('title') %></li>
  <% }) %>
  </ul>
<% }) %>
